In [1]:
import mlrun.feature_store as fs
import mlrun
import datetime
from mlrun.datastore.targets import ParquetTarget
import yfinance as yf
import pandas as pd

In [2]:
mlrun.set_environment(project="testfs")

('testfs', 'v3io:///projects/{{run.project}}/artifacts')

In [10]:
start = datetime.datetime.now()-datetime.timedelta(5)
end = datetime.datetime.now()-datetime.timedelta(2)

In [11]:
stocks_info_set = fs.FeatureSet("test_fs", entities=[fs.Entity("symbol")])
stocks_info_set.set_targets(targets=[ParquetTarget(partitioned=True,time_partitioning_granularity="day")],with_defaults=False)

In [12]:
hist = yf.Ticker("GOOGL").history(start=start, end=end,interval = "1m").drop(["Dividends","Stock Splits"],axis=1)
fs_data = hist.copy().reset_index()
fs_data["symbol"]="GOOGL"
# fs_data.set_index("symbol",inplace=True)

In [13]:
fs.ingest(stocks_info_set, fs_data, infer_options=fs.InferOptions.default())

,Datetime,Open,High,Low,Close,Volume
symbol,,,,,,
GOOGL,2021-06-10 10:10:00-04:00,2425.959961,2426.679932,2425.659912,2425.659912,0
GOOGL,2021-06-10 10:11:00-04:00,2425.629883,2425.629883,2423.800049,2424.530029,3318
GOOGL,2021-06-10 10:12:00-04:00,2424.250000,2425.729980,2423.800049,2424.639893,10460
GOOGL,2021-06-10 10:13:00-04:00,2424.419922,2424.560059,2423.610107,2424.090088,3645
GOOGL,2021-06-10 10:14:00-04:00,2423.379883,2423.379883,2423.080078,2423.250000,1633
...,...,...,...,...,...,...
GOOGL,2021-06-11 15:55:00-04:00,2431.360107,2431.375000,2429.360107,2431.060059,16922
GOOGL,2021-06-11 15:56:00-04:00,2430.860107,2431.560059,2430.860107,2431.128418,13416
GOOGL,2021-06-11 15:57:00-04:00,2431.320068,2431.500000,2430.360107,2430.360107,18225
GOOGL,2021-06-11 15:58:00-04:00,2430.300049,2431.280029,2430.070068,2431.280029,12039
GOOGL,2021-06-11 15:59:00-04:00,2431.209961,2431.364990,2429.209961,2430.290039,22106

In [14]:
features = ["test_fs.Open",
            "test_fs.High",
            "test_fs.Low",
            "test_fs.Close",
            "test_fs.Volume",
]

# Making our vector
vector = fs.FeatureVector("test_fs_vec", features, description="stocks demo feature vector")
vector.save()

In [16]:
fs.get_offline_features(vector).to_dataframe()

               Open         High          Low        Close  Volume
symbol
GOOGL   2426.540039  2427.280029  2426.405029  2427.280029       0
GOOGL   2425.959961  2426.679932  2425.659912  2425.659912    1311
GOOGL   2425.629883  2425.629883  2423.800049  2424.530029    3318
GOOGL   2424.250000  2425.729980  2423.800049  2424.639893   10460
GOOGL   2424.419922  2424.560059  2423.610107  2424.090088    3645
...             ...          ...          ...          ...     ...
GOOGL   2431.360107  2431.375000  2429.360107  2431.060059   16922
GOOGL   2430.860107  2431.560059  2430.860107  2431.128418   13416
GOOGL   2431.320068  2431.500000  2430.360107  2430.360107   18225
GOOGL   2430.300049  2431.280029  2430.070068  2431.280029   12039
GOOGL   2431.209961  2431.364990  2429.209961  2430.290039   22106

[1757 rows x 5 columns]

In [17]:
start = datetime.datetime.now()-datetime.timedelta(2)
end = datetime.datetime.now()

In [18]:
hist = yf.Ticker("GOOGL").history(start=start, end=end,interval = "1m").drop(["Dividends","Stock Splits"],axis=1)
fs_data = hist.copy().reset_index()
fs_data["symbol"]="GOOGL"
# fs_data.set_index("symbol",inplace=True)

In [19]:
fs.ingest(stocks_info_set, fs_data, infer_options=fs.InferOptions.default())

,Datetime,Open,High,Low,Close,Volume
symbol,,,,,,
GOOGL,2021-06-14 09:30:00-04:00,2432.260010,2432.370117,2425.919922,2426.406494,36326
GOOGL,2021-06-14 09:31:00-04:00,2427.060059,2427.060059,2424.969971,2425.229980,4461
GOOGL,2021-06-14 09:32:00-04:00,2424.469971,2425.459961,2421.784180,2421.784180,4720
GOOGL,2021-06-14 09:33:00-04:00,2421.854980,2424.419922,2419.979980,2422.000000,5607
GOOGL,2021-06-14 09:34:00-04:00,2424.629883,2424.629883,2424.629883,2424.629883,3642
...,...,...,...,...,...,...
GOOGL,2021-06-15 10:07:00-04:00,2439.100098,2439.100098,2437.780029,2438.070068,4921
GOOGL,2021-06-15 10:09:00-04:00,2439.700928,2440.774902,2439.700928,2440.774902,1513
GOOGL,2021-06-15 10:10:00-04:00,2439.725098,2439.780029,2438.185059,2439.439941,2906
GOOGL,2021-06-15 10:11:00-04:00,2438.270020,2438.270020,2437.239990,2437.820068,3093
GOOGL,2021-06-15 10:12:00-04:00,2437.810059,2437.810059,2436.989990,2437.114990,3489

In [20]:
fs.get_offline_features(vector).to_dataframe()

               Open         High          Low        Close  Volume
symbol
GOOGL   2432.260010  2432.370117  2425.919922  2426.406494   36326
GOOGL   2427.060059  2427.060059  2424.969971  2425.229980    4461
GOOGL   2424.469971  2425.459961  2421.784180  2421.784180    4720
GOOGL   2421.854980  2424.419922  2419.979980  2422.000000    5607
GOOGL   2424.629883  2424.629883  2424.629883  2424.629883    3642
...             ...          ...          ...          ...     ...
GOOGL   2431.360107  2431.375000  2429.360107  2431.060059   16922
GOOGL   2430.860107  2431.560059  2430.860107  2431.128418   13416
GOOGL   2431.320068  2431.500000  2430.360107  2430.360107   18225
GOOGL   2430.300049  2431.280029  2430.070068  2431.280029   12039
GOOGL   2431.209961  2431.364990  2429.209961  2430.290039   22106

[2159 rows x 5 columns]